<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hermit.btreprap"
    android:versionCode="2"
    android:versionName="0.2.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true" android:name="com.hermit.btreprap.BluetoothRepRapApplication">
        <activity
            android:label="@string/app_name"
            android:name="com.hermit.btreprap.BluetoothRepRap" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hermit.btreprap.DeviceActivity"></activity>
        <activity android:name="com.hermit.btreprap.ManualActivity"></activity>
        <activity android:name="com.hermit.btreprap.SelectDeviceActivity" android:label="@string/select_device" android:screenOrientation="portrait"></activity>
        <activity android:name="com.hermit.btreprap.LogActivity"></activity>
        <activity android:name="com.hermit.btreprap.SDFiles" android:screenOrientation="portrait" android:label="@string/selectfile"></activity>
        <service android:name="com.hermit.btreprap.service.RepRapConnectionService"></service>
        <activity android:label="@string/LOCAL_FILES" android:name="com.hermit.btreprap.LocalFilesActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>